@model RS1_Ispit_asp.net_core.ViewModels.UpdateOcjenaVM

@{
    ViewData["Title"] = "UpdateOcjena";
}

<h2>UpdateOcjena</h2>

<h4>UpdateOcjenaVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  ajax-poziv="da" ajax-rezultat="divTabela" action="/IspitStudent/UpdateOcjena">
            <input asp-for="IspitStudentiID" hidden="hidden"/>
            <div class="form-group">
                <h2>Student: @Model.StudentIme</h2>
                <span asp-validation-for="StudentIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ocjena" class="control-label"></label>
                <input asp-for="Ocjena" class="form-control" />
                <span asp-validation-for="Ocjena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit"  class="btn btn-primary" >Snimi</button>
            </div>
        </form>
    </div>
</div>


